html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing: inherit;
}
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900|Montserrat');
@font-face {
  font-family: 'Track';
  src: url('../fonts/Track-Regular.otf');
  src: url('../fonts/Track-Regular.eot');
  src: url('../fonts/Track-Regular.eot') format('embedded-opentype'),
       url('../fonts/Track-Regular.woff2') format('woff2'),
       url('../fonts/Track-Regular.woff') format('woff'),
       url('../fonts/Track-Regular.ttf') format('truetype'),
       url('../fonts/Track-Regular.svg#Track-Regular') format('svg');
}
  /* latin-ext */
  @font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 200;
	src: local('Titillium Web ExtraLight'), local('TitilliumWeb-ExtraLight'), url(../fonts/TitilliumWeb-ExtraLight-latin-ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 200;
	src: local('Titillium Web ExtraLight'), local('TitilliumWeb-ExtraLight'), url(../fonts/TitilliumWeb-ExtraLight-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 300;
	src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(../fonts/TitilliumWeb-Light-latin-ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 300;
	src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(../fonts/TitilliumWeb-Light-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(../fonts/TitilliumWeb-Regular-latin-ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(../fonts/TitilliumWeb-Regular-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 600;
	src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'), url(../fonts/TitilliumWeb-SemiBold-latin-ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 600;
	src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'), url(../fonts/TitilliumWeb-SemiBold-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 700;
	src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(../fonts/TitilliumWeb-Bold-latin-ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 700;
	src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(../fonts/TitilliumWeb-Bold-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 900;
	src: local('Titillium Web Black'), local('TitilliumWeb-Black'), url(../fonts/TitilliumWeb-Black-latin-ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 900;
	src: local('Titillium Web Black'), local('TitilliumWeb-Black'), url(../fonts/TitilliumWeb-Black-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
h1,h2,h3,h4,h5 {
	font-weight: normal;
}
.projector-hidden {
	visibility: hidden;
}
.projector-active {
	position: absolute;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background:black;
	color: white;
	font-family: "Track",sans-serif;
}

.projector-video {
	width: 100%;
	height: 100%;
}

.projector-welcome h1 {
	padding: 50px 100px;
	font-size: 80px;
	line-height: 1.2em;
	background: url("../img/left.svg") no-repeat;
	background-position: 0 0;
	font-family: "Titillium Web",sans-serif;
	letter-spacing: 0.1em;
	font-weight: normal;
}

.projector-welcome h1.rtl {
	text-align: right;
	background: url("../img/right.svg") no-repeat;
	background-position: 100% 0;
}

.projector-welcome h2 {
	position: absolute;
	bottom: calc(25vh - 20px);
	right: calc(15vw + 100px);
	font-weight: normal;
	text-align: right;
	font-size: 35px;
}

.projector-main {
	text-align: center;
}

.center-spacer {
	margin-top: 35vh;
	position: relative;
	display: inline-block;
}

.middle-container {
	width: 100vw;
	height: 100vh;
	padding: 25vh 15vw;
	position: relative;
}

.projector-main h1 {
	letter-spacing: 0.8em;
	font-size: 70px;
	text-align: center;
}
.projector-main h2 {
	text-align: center;
	font-size: 35px;
	letter-spacing: 0;
}

.bottom-left {
	position: fixed;
	bottom: 25px;
	left: 50px;
}

.bottom-right {
	position: fixed;
	bottom: 25px;
	right: 50px;
}

.bottom-logo {
	width:300px;
}

.last-letter {
	letter-spacing: 0;
}